@font-face {
    font-family: "Poppins-Regular";
    src: url("./assets/fonts/poppin-regular.ttf");
  }
  
  /* @font-face {
    font-family: "Nexa-Light";
    src: url("./assets/font/Nexa-Light.otf");
  } */
  
  
  /* @font-face {
    font-family: "Nexa-Bold";
    src: url("./assets/font/Nexa-Bold.otf");
  }  */
  
/* 
  .css-1coh8cf-MuiTypography-root{
      font-family: "Poppins-Regular";


  } */

  /* body{
  } */
  /* * {
    margin: 0px;
    padding: 0px;
  } */